.searchbar{
    display:flex;
    padding: 10px 60px;
    border-radius: 10px;
    border-color: rgb(131, 132, 133);
}
input:hover{
    color: green;/* add a shadow and change colour or border or somethind*/

}
.searchbarParent{
    display:flex;
    justify-content: center;
}
