.flexPapa{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    
}
.flexChildSearch{
    width:100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin:10%
}
.flexChild{
    width:100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin:10%
}
